<h1>Student Form</h1>

<%= form_tag @student do %>

  <div>First Name: <%= text_field_tag :first_name %></div><br>
  <div>Last Name: <%= text_field_tag :last_name %></div><br>
  <div>Submit: <%= submit_tag "Submit Student" %></div><br>

<% end %>

<%= link_to "Back", students_path %>
